.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}

.App-counter {
  display: flex;
  gap: 30px;
  font-size: calc(10px + 5vmin);
  align-items: center;
}